<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <p id="news-name">NOTL News</p>
        <nav>
        {% if current_user.is_authenticated %}
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="">Placeholder</a></li>
                <a class="cta" href="/logout"><button class="accBtn">Log out</button></a>
            </ul>
        </nav>
        {% else %}

        
        <a class="cta" href="#"></a>
        <form action="{{url_for('routes.search')}}" method="GET">
            <input type="text" name="q" placeholder="Search For Keyword">
            <input type="submit" value="Search">
        </form>    
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a class="cta" href="/login"><button class="accBtn">Log in</button></a></li>
            <li><a class="cta" href="/signup"><button class="accBtn">Sign up</button></a></li>
        </ul>
        
        {% endif %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error'%}
            <div class="alert alert-danger" role="alert">
                {{ message }}
                <button type="button" class="close" aria-label="Dismiss" onclick="this.closest('.alert').remove()">&times;</button>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" onclick="this.closest('.alert').remove()">&times;
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>
</html>