{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

{% if current_user.is_authenticated %}
<div>
    <p>Welcome, {{ name }}</p>
</div>
{% endif %}

<div class="articles">
    {% for article in articles %}
        <article class="article-card">
            <h2>
                <a href="{{ article[1].link }}" target="_blank">{{ article[1].title }}
                </a>
            </h2>
            <div class="article-meta">
                <p>{{ article[1].published }}</p>
                <p>Source: {{ article[0]  }}</p>
            </div>
            
        </article>
    {% endfor %}
</div>
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('routes.index', page=page-1)}}">Previous</a>
    {% endif %}

    {% if page < total_pages %}
        <a href="{{ url_for('routes.index', page=page+1)}}">Next</a>
    {% endif %}
</div>

{% endblock %}