{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}

<h3 align="center">Log In</h3>
<form action="/login" method="post">
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" placeholder="Enter email"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password"/>
    </div>
    <input type="submit" value="Log In" id="btn_log_in" />
</form>
{% endblock %}