{% extends 'base.html' %}

{% block head %}
<title>Saved Articles</title>
{% endblock %}

{% block body %}
<main class="saved-container">
    <div class="articles">
    {% for entry in articles %}
        <article class="article-card">
            <h2>
                <a href="{{ entry.link }}" target="_blank">{{ entry.title }}
                </a>
            </h2>
            <div class="article-meta">
                <span class="source-badge">{{ entry.source }}</span>
                {% if current_user.is_authenticated %}
                    <button class="delete-article"
                        type="button" 
                        data-title="{{ entry.title }}"
                        data-article="{{ entry.link }}"><i class="fas fa-trash-can"></i>
                        </button>
                {% endif %}
            </div>
            
        </article>
        {% endfor %}
    </div>

</main>
<script>
    function showFlash(message, status) {
        const container = document.getElementById("flash-container");
        const flash = document.createElement("div");
        flash.className = `flash-message ${status}`;
        flash.textContent = message;

        container.appendChild(flash);

        // remove after 3 seconds
        setTimeout(() => flash.remove(), 3000);
    }

    document.querySelectorAll(".delete-article").forEach(btn => {btn.addEventListener('click', async (e) => {
        
        e.stopPropagation();
        e.preventDefault();
        const article = btn.getAttribute('data-article');
        const card = btn.closest(".article-card");
        btn.disabled = true;
    
        const response = await fetch ('/delete', {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({article})
        });

        const result = await response.json();

        if (response.ok && result.status === "success") {
            // remove the card from the DOM
            card?.remove();
            showFlash(result.message, "success");
        }
        
        });
    });
    
</script>
{% endblock %}