{% extends 'base.html' %}

{% block head %}
<title>Search Results</title>
{% endblock %}

{% block body %}

<main class="saved-container">
    <h2>Search Results For: {{ query }}</h2>
    <div class="articles">
        {% for entry in articles %}
            <article class="article-card">
                <h2>
                    <a href="{{ entry[1].link }}" target="_blank">{{ entry[1].title }}
                    </a>
                </h2>
                <div class="article-meta">
                    <p>{{ entry[1].published }}</p>
                    <div class="right-side-meta">
                        <span class="source-badge">{{ entry[0] }}</span>
                        {% if current_user.is_authenticated %}
                            <button class="save-article"
                            type="button" 
                            data-source="{{entry[0]}}"
                            data-title="{{ entry[1].title }}"
                            data-article="{{ entry[1].link }}"><i class="fas fa-heart"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                
            </article>
        {% endfor %}

        {% if articles | length == 0%}
            <p>No results found.</p>
        {% endif %}
    </div>

</main>

{% endblock %}