{% extends 'base.html' %}

{% block head %}
    <title>Settings</title>
    <link rel="stylesheet" href="{{url_for('static', filename='settings.css')}}">
{% endblock %}

{% block body %}

    <div class="settings-container">
        {% if name | length != 0%}
        <h1>Welcome {{ name | capitalize}}</h1>
        {% else %}
            <h1>Settings</h1>
        {% endif %}

        <div class="options"> <!-- holds what the user can change. Passwords, etc. -->
            <h2>Account Information</h2>
            <div id="change-name">
                <p>Change Account Name</p>
                <button class="change_name_Btn">Change name</button>
                <form action="/edit_name" method="post" id="edit_name_form" style="display: none;">
                    <input type="text" name="name" id="username" required/>
                    <input type="submit" value="Edit name" id="btn_edit_name" />
                </form>
                <div>{{ name | capitalize}}</div>
            </div>
            <div id="change-email">
                <p>Change Email</p>
                <button class="change_email_Btn">Change Email</button>
                <form action="/edit_email" method="post" id="edit_email_form" style="display: none;">
                    <input type="email" name="email" id="edit_email" required/>
                    <input type="submit" value="Edit Email" id="btn_edit_email" />
                </form>
                <div>
                    {{ email }}
                </div>
            </div>
            <div id="change-password">
                <p>Change Password</p>
                <button class="change_password_btn">Change Password</button>
                <!--Ask for current password, if correct allow password to be changed-->
                <form action="/change_password" method="post" id="change_psswd_form" style="display: none;">
                    <!--check if curr password is same as in db-->
                    <label for="curr_password">Enter current password: </label>
                    <input type="password" name="curr_password" id="change_password" required/>
                    <label for="new_password">Enter new password</label>
                    <input type="password" name="new_password" id="new_password" required/>
                    <input type="submit" value="Edit name" id="btn_edit_name" />
                </form>
            </div>
        </div>

    </div>
    <script>
        function toggleDisplay(displayElement) {
            
            if (displayElement.style.display == 'none') {
                displayElement.style.display = 'block';
            }
            else {
                displayElement.style.display = 'none';
            }
        }
        // fix this so it isnt so ugly later
        change_name_btn = document.querySelector(".change_name_Btn");
        edit_name_form = document.getElementById("edit_name_form");
        change_email_btn = document.querySelector(".change_email_Btn");
        edit_email_form = document.getElementById("edit_email_form");
        change_psswd_btn = document.querySelector(".change_password_btn");
        change_psswd_form = document.getElementById("change_psswd_form");

        change_name_btn.addEventListener('click', () => {
            toggleDisplay(edit_name_form)
        })

        change_email_btn.addEventListener('click', () => {
            toggleDisplay(edit_email_form)
        })

        change_psswd_btn.addEventListener('click', () => {
            toggleDisplay(change_psswd_form)
        })


    </script>
{% endblock %}