{% extends 'base.html' %}

{% block head %}
<title>Sign Up</title>
{% endblock %}

{%block body %}
    <!--When form is submitted, send via post-->
    <!--Name determines what is sent to backend-->

    <form action="/signup" method="post" class="auth">
        <fieldset>
            <h2 class="form-header">Sign Up</h2>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="John...">

            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Doe..."/>
    
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required/>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required/>
    
            <input type="submit" value="Sign Up" id="btn_signup" />
        </fieldset>
        
    </form>
{% endblock %}