// Variables

$bg_color: #24252a;
$text_color: #edf0f1;

*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, a, button{
    font-weight: 500;
    font-size: 20px;
    color: $text_color;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 40px;
    background-color: $bg_color;

}

#news-name{
    margin-right: auto;
    color: $text_color;
    font-weight: bold;
    font-size: 28px;
}

.nav-links{
    list-style: none;

    li{
        display: inline-block;
        padding: 0px 20px;

        a{
            transition: all 0.3s ease 0s;
            font-weight: 700;

            &:hover{
            color: rgba(0, 136, 169, 0.8);
            }
        }

    }
}

.accBtn{
    padding: 9px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    max-width: fit-content;

    &:hover{
        background-color: rgba(0, 136, 169, 0.8);
    }
}

fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;

    & legend{
        font-size: 1.25em;
        padding: 0 .25em;
        color: #999;
    }

    & label{
        display: block;
        margin-top: 1em;
    }
}

.alert{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    
    & .close{
        background: transparent;
        border: 0;
        cursor: pointer;
        font-size: 1.5rem;
        color: black;
        font-weight: 300;
    }
    
    &.alert-danger{
        background-color: rgb(245, 118, 118, 0.8);
    }

    &.alert-success{
        background-color: rgb(135, 252, 135, 0.8);
    }

}


